<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="false" thread-count="1">

    <test name="UI Tests">
        <classes>
            <class name="Tests.LandingPageTest"/>
            <class name="Tests.CreateRoomsTest"/>
            <class name="Tests.BrandingTests"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="Tests.ApiTests"/>
        </classes>
    </test>

</suite>